{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-hooks"
  ],
  "extends": [
    "standard",
    "standard-react",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "prettier"
  ],
  "env": {
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "rules": {
    "comma-dangle": 0,
    "spaced-comment": 0
  }
}
